body{
	background-color: maroon;
}

#nav-list{
	background-color: pink;
}


#our-menu{
	color: white;
	font-size: 40px;
}

#last-task{
	background-color: blue;
	height: 1000px;
	color: white;
	font-size: 25px;
}